.BuildControl{
    width:100%;
    background-color: #cf8f2e;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow:0 2px 1px #ccc;
    margin:auto;
    padding:10px 0;
    position:absolute;
    bottom:0;
}
.OrderButton{
    background-color:#dad735;
    outline:none;
    cursor:pointer;
    border:1px solid #966909;
    font-family: inherit;
    font-size: 1.2rem;
    padding:15px 30px;
    box-shadow:0 2px 1px #555;
    transition: all 0.5s ease-out;
    font-weight: bold;
}
button.OrderButton:disabled{
    background-color:#ccc;
    
}